@font-face {
  font-family: 'Afacad Flux';
  src: url('data/Fontes/AfacadFlux-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
}

html,
body,
#canvasMount {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: auto;
  background: #000000;
}

canvas {
  display: block;
}
